body{
	margin: 0 auto;
	font-family: 'Raleway';
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../css/raleway.woff) format('woff');
	vertical-align: baseline;
}
#header{
	width: 100%;
	height: 300px;
	overflow: hidden;
	min-width: 240px;
	margin: 0 auto;
	background-image: url(../img/dados1.jpg);
	background-size: cover;
	background-position: 20% 60%;
	box-shadow: 0 1px 15px black;
}
#header #menu{
	min-width: 600px;
}
#header #menu #menu_list{
	margin: 265px auto 0;
	color: white;
	text-align: center;
	list-style-type: none;
}
#header #menu #menu_list li{
	display: inline-block;
	cursor: pointer;
	width: 100px;
	padding: 2px 20px 2px 20px;
	margin: 0 5px 0 5px;
	border-radius: 8px;
}
#main{
	max-width: 1024px;
	min-width: 480px;
	margin: 0 auto;
	padding: 1px;
}
#cantidad_dados{
	margin: 0 auto;
	max-width: 500px;
}
#un_dado{
	float: left;
	cursor: pointer;
}
#dos_dados{
	float: right;
	cursor: pointer;
}
#cantidad_dados img{
	position: relative;
	width: 60px;
	height: 60px;
	margin: 10px;
	top: 35px;
}
#num_tiros{
	margin: 100px auto 20px;
}
#num_tiros>input{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	border-radius: 10px;
	border: solid 1px #E7E7E7;
	padding: 5px;
	text-align: center;
	height: 30px;
	margin: 10px;
}
#start{
	margin: 0 auto;
	background-color: #099CAC;
	cursor: pointer;
	width: 100px;
	margin-bottom: 20px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	text-align: center;
}
#load{
	margin: 60px auto;
	width: 50px;
	text-align: center;
}
#divtabla, #divfreq{
	max-height: 200px;
	float: left;
	margin: 20px 0 100px;
	padding: 30px;
	max-width: 200px;
	overflow-y: auto;
}

#grafica{
	width: 500px;
	float: right;
}

#prom{
	margin: 15px;	
}

