html{
	font-family: 'Open Sans', sans-serif;
}
#banner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-image: url(../img/dados1.jpg);
	background-size: cover;
	background-position: 20% 60%;
	box-shadow: 
}
#menu{
	width: 100%;
	clear: both;
	float: left;
	overflow: hidden;
}
#menu_list{
	position: absolute;
	float: left;
	left: 50%;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	top: 265px;
}
#menu_list li{
	float: left;
	color: white;
	position: relative;
	cursor: pointer;
	margin: 10px;
	padding: 0 15px 5px 15px;
	right: 50%;
	border-radius: 10px 10px 0 0;
}
#menu_list li img{
	width: 30px;
	height: 30px;
}
#prom{
	padding: 15px;
}